@model Post[]

@{
    ViewData["Title"] = "Posts";
    var posts = Model;
}

@if (posts.Length == 0)
{
    <h5>Nothing to display...</h5>
}
else
{
    <div class="container mt-4">
        <h3 class="text-center mb-4">Post's Index</h3>
        <table class="table table-striped fixed-width-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in posts)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>
                            <a href="@Url.Action("Detail", "Home", new{Id = post.Id})">
                                @post.Title
                            </a>
                        </td>
                        <td>@post.Description</td>
                        <td>
                            <img src="@post.Image" alt="Post Image" class="img-fluid" style="max-width: 100px;" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<a href="@Url.Action("Create", "Home")" class="btn btn-primary rounded-circle d-flex justify-content-center align-items-center" style="position: fixed; bottom: 5%; right: 5%; width: 60px; height: 60px; background-color: white; border: 1px solid #333;">
    <span style="color: black; font-size: 2.5em; position: absolute; bottom: 5%; right: 25%;">+</span>
</a>



